html {
    scroll-behavior: smooth;
}

body   {
    margin: 0;
}

.mother {
    display: grid;
    font-family: 'Pathway Gothic One', sans-serif;
}

header {
    font-weight: 800;
    font-family: 'Autobahn', sans-serif;
}

a {
    text-decoration: none;
}

:root {
    --black: rgb(0,0,0);
    --red: rgb(218, 41, 28);
    --gold: #ffcd00;
    --black-gradient: rgba(0,0,0,0.5);
    --forest-green: rgb(49, 88, 49);
    --graywhite: rgb(185, 185, 185);
    --vegetarian: #a9c360;
    --gluten-free: #fbb446;
    --vegan: #7ec77b;
    --organic: #228f73;
}

.header-section {
    background-color: var(--forest-green);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    width: 100%;
    max-width: 100%;
}

.header-section img {
    width: 200px;
    height: 200px;
}

.header-section a img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.nav-menu-header {
    width: 75%;
    display: flex;
    justify-content: space-between;

}

.nav-menu-header a {
    background-color: var(--red);
    color: var(--gold);
    padding: 10px 20px;
    width: 133px;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 2px;
    font-family: 'Autobahn', sans-serif;
    border-radius: 25px;
}

.nav-menu-header a:hover {
    background-color: var(--gold);
    color: var(--red);
}



.header-section header {
    font-size: xx-large;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 13px;
}

#flag-bg-video {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: -100;
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
}

footer {
    background-color: var(--graywhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.back-to-top {
    padding: 10px;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: lowercase;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: large;
    border: none;
    background-color: black;
    color: white;
}

.back-to-top:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

footer header {
    font-size: 20px;
    font-family: 'Pathway Gothic One', sans-serif;
}

.footer-socials-row {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin-top: 10px;
}

.footer-socials-row a {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 77px;
    height: 77px;
    color: black;
    font-size: 20px;
}

.footer-socials-row a:hover {
    background-color: white;
}

.footer-socials-row a img {
    width: 30px;
    height: 30px;
}

.footer-socials-row a div p {
    margin: 10px 0 0 0;
}

footer .address-phone {
    text-align: center;
    border-top: 1px solid black;
    margin-top: 16px;
}

footer .copyright {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .copyright span i {
    color: rgb(2, 63, 35);
}